.products-div{
    width:500px;
}
.filters-form{
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
}

.filters-div-checkbox{
    display: flex;
    align-items: center;
}

.product-table{
    width:100%
}

.product-table-row-td-red{
    color: red;
}

.product-form{
    display: flex;
    flex-direction: column;
}

.product-form-label{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.product-table-header-button-selected{
    background-color: aqua;
}